$border: 2px solid red;
.container{
  border: $border;
  width: 500px;
  height: 500px;
}
.todo-form{
 border: $border;
 text-align: center;
 input:first-child{
  width: 300px;
 };
}
.todo-list{
  border: $border;
  display: grid;
  grid-template-columns: 20px 4fr 1fr;
  li{
    list-style: none;
  }
  .todo-btn{
    button{
      background: none;
      border: none;
      font-size: 22px;
      cursor: pointer;
      padding: 0;
      &:first-child{
        margin-right: 15px;
      }
    }
    
  }
}